{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
                <img src="/media/{{ car.pic_url }}" alt="Responsive image" style="width: 100%;" class="mt-5">
                <a type="button" class="btn btn-success btn-sm" style='margin: 111px;' href="{% url 'car_dashboard' %}">Go back to the vehicle list page</a>
        </div>
        <div class="col-6">
            <table class="table table-borderless mt-4">
                <tbody>
                    <tr>
                        <td colspan="2"><h1>{{car.name }}</h1></td>

                    </tr>
                    <tr>
                        <td>Car years</td>
                        <td>{{car.years}}</td>

                    </tr>
                    <tr>
                        <td>Car colour</td>
                        <td>{{car.color}}</td>
                    </tr>
                    <tr>
                        <td>Gear type</td>
                        <td>{{ car.get_type_gear_display }}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>{{ car.get_category_display}}</td>
                    </tr>
                    <tr>
                        <td>Seat number</td>
                        <td>{{ car.number_seat}}</td>
                    </tr>
                    <tr>
                        <td>Number of doors</td>
                        <td>{{ car.number_door}}</td>
                    </tr>
                    <tr>
                        <td>Car price</td>
                        <td>{{ car.price}}</td>
                    </tr>
                    <tr>
                        <td>Update time</td>
                        <td>{{ car.update_time}}</td>
                    </tr>
                </tbody>
              </table>
              
              
        </div>
    </div>
</div>





{% endblock %}

{% block footer %}

{% endblock %}